body {
    background-image: url(thumb.gif);
    z-index: -10;
}

div.container{
    background-color: white;
    width: 75%;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: .2em;
}

hr {
    width: 90%;
}

h1 {

font-family: 'Montserrat', sans-serif;
color: #ff4e00;
display: inline;
font-size: 4em;


}

span {

    text-transform: uppercase;
}

ul {
    list-style-type: disc;
}



h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

a {
    color: #ff4e00;
    text-decoration: none;
}

a.social {
    color: white;
    text-decoration: none;
}


p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

p.bullet {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    display: inline;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 4em;
    background-color:  #ff4e00;
    color: white;
    padding: 0 0.4em 0 0.4em;
    display: inline-block;
    border-radius: 2px;
}



div.nav {
    height: 5.5em;
/*    width: 75vw;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

div.intro {
/*  margin-top: 5em;*/
    padding-top: 3em;
    margin-left: 10%;
    margin-right: 10%;

}

div.article {
/*    margin-top: 5em;*/
    margin-left: 26%;
    margin-right: 26%;

}

hr {
    border-color: #ff4e00;
}

p.footer {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
}

a.hed {
    text-decoration: underline !important;
    color: #ff4e00;
}




@media(max-width: 1080px) {

/*    a.hed {
    text-decoration: underline !important;
    color: black;
    font-size: .8em;
}*/

div.nav {
    height: 3.25em;
    margin-left: -.5em;
    padding-top: 0em;

}



div.intro {
    padding-top: 3em;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: .8em !important;
    text-indent: center;
    margin-left: auto;
    margin-right: auto;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: .8em;
}

p.bullet {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em !important;
    line-height: 30px;
    display: inline;
}

div.container {
    width: 96%
}

p.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: .7em;
    line-height: 20px;
}

  
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 4.3em
}

  div.article {
    margin-left: 3%;
    margin-right: 2%;
    }

   h2 {
    font-size: 1.5em;
   }
}

  }