h1 {

font-family: 'Montserrat', sans-serif;
color: #ff4e00;
display: inline;
font-size: 3em;

}

span {

	text-transform: uppercase;
}

ul {
	list-style-type: disc;
}



h2 {
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #ff4e00;
	text-decoration: none;
}

a.social {
	color: white;
	text-decoration: none;
}


p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

p.bullet {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    display: inline;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 4em;
    background-color:  #ff4e00;
    color: white;
    padding: 0 0.4em 0 0.4em;
    display: inline-block;
    border-radius: 2px;
}



div.nav {
/*    background-color: yellow;*/
    height: 5.5em;
    width: 100vw;
/*    margin-left: -.5em;
    margin-top: -5em;
    z-index: 1;
    position: fixed;*/
/*    border-color: #ff4e00;
    border-bottom-style: solid;
    border-bottom-width: .5px;*/
    text-align: center;
}

div.intro {
/*	margin-top: 5em;*/
	padding-top: 1em;
	margin-left: 22%;
    margin-right: 22%;
}

div.article {
/*    margin-top: 5em;*/
    margin-left: 26%;
    margin-right: 26%;
}

hr {
	border-color: #ff4e00;
}

footer {
    border-color: #a8a8a8;
    border-top-style: solid;
    border-top-width: .5px;
    height: 4em;
    width: 100vw;
    margin-left: -.5em;
    margin-top: 4em;
    z-index: 1;
    border-color: #ff4e00;
    padding-bottom: .9em;
}

p.footer {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
}

a.hed {
	text-decoration: underline !important;
	color: black;
	font-size: .4em;
}




@media(max-width: 1080px) {

	a.hed {
	text-decoration: underline !important;
	color: black;
	font-size: .8em;
}

div.nav {
    height: 3.25em;
    margin-left: -.5em;

}



div.intro {
	padding-top: 0em;
	margin-left: 3%;
    margin-right: 3%;
}

h1 {
    font-size: .9em;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: .8em;
}

p.bullet {
	font-family: 'Open Sans', sans-serif;
    font-size: 1em !important;
    line-height: 30px;
    display: inline;
}


p.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    line-height: 24px;
}

  
h3 {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 4.3em
}

  div.article {
    margin-left: 3%;
    margin-right: 3%;
    }

   h2 {
    font-size: 1.5em;
   }
}

  }